* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* 1st-Header part start css */

.header-work {
    background-color: rgba(255, 144, 14, 0.2);
    /* height: 600px; */
    width: 100%;

}

/* for  h1 */
.first-head {
    padding-left: 30px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    font-size: 22px;
    color: #131313;
    text-align: center;
    padding-top: 15px;

}

/* finish */

/* full nav */
.heder-part {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;

}

/* end */

ul li {
    list-style: none;
    /* justify-content: space-between; */
    padding-right: 30px;
    padding-top: 15px;
    font-size: 15px;
    color: #424242;
    font-weight: 500;
    height: 15px;

}


.list-design {
    display: flex;
}

.second-head {
    margin-right: 175px;
}

/* 2nd description part start -header */

.description-head {
    text-align: center;
    color: #131313;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    font-style: normal;


}

.description-para {
    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;

}

.description-batton {
    text-align: center;
}



.bttn {
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 8px 12px 8px;
    margin-bottom: 30px;
}

.bttn:hover {
    background-color: aqua;
}

.head-img {
    height: 500px;
    width: 1000px;
    padding-left: 200px;
    margin-bottom: 20px;
}

/* first main part */
.first-body-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.img-4 {
    height: 10px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 60px;
    padding-left: 100px;
    border-width: 5px;
    margin-bottom: 20px;
}

.first-body-part-heading {
    padding-top: 300px;
    padding-left: 40px;
}

#q {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

#o {
    color: #131313;
    font-weight: 700;
    font-size: 40px;
}

#f {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;

}

#h {
    margin-bottom: 20px;
}

.first-body-part-para {
    width: 537px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
}

/* end */

/* second body part-start */

.second-body-part {
    margin-top: 260px;
    display: flex;
    justify-content: space-between;
}

#stright-line {
    border-left: 6px solid #FF900E;
    left: 50%;
    margin-left: -4px;
    top: 50px;

}

.second-body-part-img {
    width: 550px;
    height: 600px;
    border-radius: 8px;
}

.box-first,
.box-second,
.box-third {
    height: 110px;
    width: 600px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);



}

.second-body-part-description {
    margin-left: 45px;
}

.second-body-part-description-head {
    font-weight: 600;
    font-size: 40px;
    color: #131313
}

.second-body-para {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-left: 25px;
    margin-bottom: 10px;
}

.second-body-header {
    font-weight: 600;
    font-size: 15px;
    color: #131313;
    padding-left: 25px;
}

.last-battn {
    text-align: center;
    padding-right: 1000px;
    padding-bottom: 30px;


}

.last-battn-here {
    font-weight: 300;
    font-size: 60px;
    /* line-height: 30px; */
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-right: 300px;
    padding: 10px 5px 20px 5px;
    margin-top: 500px;
}

.add-img {
    background: url(../images/architect.png);

}

.middle-part {
    margin-top: 100px;
    margin-left: 80px;
}

.middle-part-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #131313
}

.middle-part-para {
    font-size: 16px;
    color: #727272;
}

.last-box {
    display: flex;
    padding: 25px;
    margin: 35px 0px 35px 85px;
    gap: 40px;

}

.box-free-one,
.box-free-two,
.box-free-three,
.box-free-four {
    height: 250px;
    width: 220px;
    background-color: white;
    border: 2px solid #FF900E;
    border-radius: 8px;


}

.box-free-one:hover {
    background-color: olive;
}

.box-free-two:hover {
    background-color: brown
}

.box-free-three:hover {
    background-color: gray
}

.box-free-four:hover {
    background-color: sienna;
}

.img-four {
    padding-top: 43px;
    padding-left: 75px;

}


.img-foure {
    padding-top: 5px;
    padding-left: 65px;
    color: #424242;
    font-size: 45px;
}

.img-fouree {
    padding-top: 10px;
    padding-left: 20px;
    color: #727272;
    font-size: 20px;
}

/* end */


/* soponsor start */

.for-sponsor {
    margin-top: 100px;
}

.for-sponsor-head {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #131313;
    margin-bottom: 20px;
}

.for-sponsor-para {
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    color: #727272;
}

.for-sponsor-img {
    margin-left: 100px;

}

.for-sponsor-img-one {
    padding-right: 20px;
    padding-left: 50px;
    margin-bottom: 90px;
}
.footer-para{
    width: 700px;
height: 40px;
background: #FFF4E7;
border-radius: 5px;
margin-left: 200px;
padding: 85px 15px 25px 260px;
margin-bottom: 30px;
color: #424242;

}